hr {
  margin: 2em 0;
  height: 1px;
  border: none;
  background-color: black;
}
.host {
  margin: 0 auto;
  padding: 40px 20px;
  line-height: 2;
  max-width: 900px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera San;
  text-rendering: geometricPrecision;
}
nav {
  margin-bottom: 80px;
  font-size: 14px;
}

nav ul {
  display: flex;
  padding: 0; /* remove left padding */
}

/*
ul {
  list-style-type: none;
}
ul > li {
  text-indent: -1em;
}
ul > li:before {
  content: "-";
  text-indent: -1em;
}
*/

nav li {
  list-style-type: none;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #000;
}
h1 {
  font-size: 16px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 13px;
}
h4 {
  font-size: 12px;
}
h1::before {
  content: '# ';
  color: rgba(0, 0, 0, 0.5);

}
h2::before {
  content: '## ';
  color: rgba(0, 0, 0, 0.5);
}
h3::before {
  content: '### ';
  color: rgba(0, 0, 0, 0.5);
}
h4::before {
  content: '#### ';
  color: rgba(0, 0, 0, 0.5);
}
p {
  padding-bottom: 2em;
}
p, li {
  color: #424242;
  font-size: 13px;
  line-height: 22px;
}

em::before, em::after {
  content: '/';
  color: rgba(0, 0, 0, 0.5);
}

strong::before, strong::after {
  content: '*';
  color: rgba(0, 0, 0, 0.5);
}

del::before, del::after {
  content: '~';
  color: rgba(0, 0, 0, 0.5);
}

p > code::before, p > code::after {
  content: '\`';
  color: rgba(0, 0, 0, 0.5);
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote::before {
  content: '> ';
  color: rgba(0, 0, 0, 0.5);
  margin-right: 0.25em;
}

blockquote p {
  display: inline;
}

li > p {
}

/* not sure if a good idea / used? */
u::before, u::after {
  content: '_';
  color: rgba(0, 0, 0, 0.5);
}
/*
li {
  fontSize: 13px;
}
*/
